{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header-title">Meet The Beatles!</h1>
        </div>
    </div>
</div>

<div class="container-fluid stacked-cards stacked-cards-slide">
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for media in media_list %}
                    {% if media.type == 'video' %}
                        <li class="slide slide{{ forloop.counter }}">
                            <div class="video-container">
                                <video class="video-slide" controls poster="{{ media.poster_path }}">
                                    <source src="{{ media.path }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <div class="overlay">{{ media.title }}</div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 text-container">
            {% for history in history_list %}
                <p>{{ history.content }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div id="phase-selection-container" class="container-fluid hide-initially">
    <div class="btn-group" role="group" aria-label="Phase selection">
        {% for phase, label in phases %}
            <a href="?phase={{ phase }}" class="btn btn-primary phase-{{ phase }} {% if current_phase == phase %}active{% endif %}">{{ label }}</a>
        {% endfor %}
    </div>
</div>



{% endblock %}





